.venv/
*.egg-info/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

.env
.netrc

data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

outputs/*
!outputs/.gitkeep

*.blend1
*.blend2
